In [1]:
## Loading data
import pandas as pd

file_path = "../../model/data/raw_data.csv"
df = pd.read_csv(file_path)
print(df.columns)

Index(['ID', 'Resume_str', 'Resume_html', 'Category'], dtype='object')

In [2]:
## Selecting columns
df = df[["Resume_str", "Category"]]
df.head()

                                          Resume_str Category
0           HR ADMINISTRATOR/MARKETING ASSOCIATE\...       HR
1           HR SPECIALIST, US HR OPERATIONS      ...       HR
2           HR DIRECTOR       Summary      Over 2...       HR
3           HR SPECIALIST       Summary    Dedica...       HR
4           HR MANAGER         Skill Highlights  ...       HR

In [3]:
## Filtering records
sectors_to_keep = ["INFORMATION-TECHNOLOGY", "HEALTHCARE", "CONSTRUCTION"]
filtered_df = df[df["Category"].isin(sectors_to_keep)]
filtered_df.head()

                                            Resume_str                Category
217           INFORMATION TECHNOLOGY         Summar...  INFORMATION-TECHNOLOGY
218           INFORMATION TECHNOLOGY SPECIALIST\tGS...  INFORMATION-TECHNOLOGY
219           INFORMATION TECHNOLOGY SUPERVISOR    ...  INFORMATION-TECHNOLOGY
220           INFORMATION TECHNOLOGY INSTRUCTOR    ...  INFORMATION-TECHNOLOGY
221           INFORMATION TECHNOLOGY MANAGER/ANALYS...  INFORMATION-TECHNOLOGY

In [4]:
## Analyzing category distribution
category_counts = filtered_df["Category"].value_counts()
print("length of dataset", len(filtered_df))
print(category_counts)

length of dataset 347
Category
INFORMATION-TECHNOLOGY    120
HEALTHCARE                115
CONSTRUCTION              112
Name: count, dtype: int64

In [5]:
## Undersampeling category distribution
min_size = int(category_counts.min())
sampled_filtered_df = pd.concat([
    filtered_df[filtered_df['Category'] == category].sample(min_size, random_state=100)
    for category in category_counts.index
])

sampled_category_counts = sampled_filtered_df['Category'].value_counts()
print("length of dataset", len(sampled_filtered_df))
print(sampled_category_counts)

length of dataset 336
Category
INFORMATION-TECHNOLOGY    112
HEALTHCARE                112
CONSTRUCTION              112
Name: count, dtype: int64

In [6]:
## Clean 'Resume_str' fields

print(sampled_filtered_df["Resume_str"].iloc[0])

sampled_filtered_df.loc[:, "Resume_str"] = ( ## .loc[<row_indexer>, <column_indexer>]
    sampled_filtered_df["Resume_str"]
    .str.replace(r"[^a-zA-Z\s\.]", "", regex=True) ## Everything that is not a lowercase letter or space
    .str.replace(r"\s+", " ", regex=True) ## Everything that is 1 or more spaces
    .str.strip()
    .str.lower()
    )

print(sampled_filtered_df["Resume_str"].iloc[0])

         INFORMATION TECHNOLOGY CONSULTANT, MANAGING MEMBER           Summary    A versatile, analytic IT Specialist with a proven record of success within large institutions as well as entrepreneurial organizations. Thrives on challenge and solves problems with creativity and persistence. A data-driven team leader skilled in both producing and communicating results.      Experience      Information Technology Consultant, Managing Member    January 2017   to   Current     Company Name   －   City  ,   State       Worked with product designers and product managers to design user interactions in applications.    Envisioned inspired new products, features and flows.   Answered user inquiries regarding computer software and hardware operation.    Installed and performed repairs to hardware, software and peripheral equipment, following design and installation specifications.  Set up equipment for employee use.   Conducted computer diagnostics to investigate and resolve problems and provide technical assistance and support.            Chief Technology Officer, Partner    August 2015   to   January 2017     Company Name   －   City  ,   State      Successfully re-branded established dealership, launched new eCommerce website, added six new lines of vehicles, and created new
          customer engagement strategies.  Developed sales and marketing strategy and directly managed over 15 full-time and part-time staff.  Streamlined processes in Sales and Service departments using new technology.  Managed legal and security policies such as loss prevention and DMV compliance.  Negotiated and secured corporate partnerships, including vehicle and trailer maintenance for FreshDirect.com's same-day product
          (FoodKick).           CTO, Partner    May 2012   to   August 2015     Company Name   －   City  ,   State      Provided IT solutions targeting small and medium size businesses in the New York metro area.   Solutions to include: Infrastructure/ Network design and impletation, server based technologies and remote support services.  Clients included: Bronx Museum of Arts, Cava Construction, Leftfield Pictures.          IT Manager    August 2010   to   May 2012     Company Name   －   City  ,   State      Managed a staff of ten IT support staff, which provided support for all users employed within Ogilvy North American offices.  Constantly
          developing new standards and IT policy's to improve support reaction time.  Key Accomplishment: Lead architect for migrating all Lotus
          Notes and MS Exchange users to Cloud (Google) Mail.  Gathered and analyzed performance metric data.           Education and Training      BS   :   Print Production, Graphic Design Computer Science  ,   1993    St. John's University          Print Production, Graphic Design Computer Science        Technical Skills    Active Directory, premiere, ads, Advertising, IBM AIX, Apple, architect, Arts, catalog, color, com, Clients, digital photography, digital video, direct mail, disaster recovery, eCommerce, Final
          Cut Pro, SGI Irix, IT support, legal, Linux, Logic, loss prevention, Lotus
          Notes, marketing strategy, Marketing, Microsoft Exchange, MS Exchange, Mail, Network design, network, newspaper, policies, Prepress, print
          advertising, print production, processes, Sales, upgrading, video post production, website
information technology consultant managing member summary a versatile analytic it specialist with a proven record of success within large institutions as well as entrepreneurial organizations. thrives on challenge and solves problems with creativity and persistence. a datadriven team leader skilled in both producing and communicating results. experience information technology consultant managing member january to current company name city state worked with product designers and product managers to design user interactions in applications. envisioned inspired new products features and flows. answered user inquiries regarding computer software and hardware operation. installed and performed repairs to hardware software and peripheral equipment following design and installation specifications. set up equipment for employee use. conducted computer diagnostics to investigate and resolve problems and provide technical assistance and support. chief technology officer partner august to january company name city state successfully rebranded established dealership launched new ecommerce website added six new lines of vehicles and created new customer engagement strategies. developed sales and marketing strategy and directly managed over fulltime and parttime staff. streamlined processes in sales and service departments using new technology. managed legal and security policies such as loss prevention and dmv compliance. negotiated and secured corporate partnerships including vehicle and trailer maintenance for freshdirect.coms sameday product foodkick. cto partner may to august company name city state provided it solutions targeting small and medium size businesses in the new york metro area. solutions to include infrastructure network design and impletation server based technologies and remote support services. clients included bronx museum of arts cava construction leftfield pictures. it manager august to may company name city state managed a staff of ten it support staff which provided support for all users employed within ogilvy north american offices. constantly developing new standards and it policys to improve support reaction time. key accomplishment lead architect for migrating all lotus notes and ms exchange users to cloud google mail. gathered and analyzed performance metric data. education and training bs print production graphic design computer science st. johns university print production graphic design computer science technical skills active directory premiere ads advertising ibm aix apple architect arts catalog color com clients digital photography digital video direct mail disaster recovery ecommerce final cut pro sgi irix it support legal linux logic loss prevention lotus notes marketing strategy marketing microsoft exchange ms exchange mail network design network newspaper policies prepress print advertising print production processes sales upgrading video post production website

In [7]:
## Saving raw data to test_data.csv
filtered_df.to_csv("test_data.csv")